<form style="margin-left: 400px; margin-top: 100px" onsubmit="this.action = this.action + '/' + this.groupName.value" action="/services/upload" method="post" enctype="multipart/form-data">
	<input style="padding: 10px; margin: 10px" type="text" name="groupName"></input><br>
	<input style="padding: 10px; margin: 10px" type="file" name="my_file"></input><br>
	<input style="padding: 10px; margin: 10px; width: 100px" type="submit" action="submit" value="SUBMIT"></input>
</form>